body, html{
    background-image: url(assets/background-impertan.jpg);
}
.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background: linear-gradient(blue, rgb(71, 152, 195) );
    padding: 10px ;
  
}

header img {
    width: 180px;
    display: block;
    margin: -20px auto 0; 
    padding:10px;
    
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #000000;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
