body, html {
    height: 100%vh;
    margin: 0;
    padding: 0; 
    justify-content: center;
    align-items: center;
    background-image: url(assets/background-impertan.jpg);
    background-size:cover;
    background-position:center;
    text-align:center;
    display:flex;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.login-box {
    background: linear-gradient();
    padding: 20px 0px 0px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-top:200px;
    width:80%;
    margin:center;
    margin:left;
    margin-right: 10px;
    
}
header {
    text-align: center;
    margin-bottom: 20px; /* Adiciona margem inferior para separar a imagem dos botões */
}

header img {
    max-width: 30%;
    height: auto;
    margin-top:20px;
}

.main-content {
    margin-top: 20px; 
}


main {
    text-align: center;
    
}

.email, .password {
    display: block; /* Mostra os botões como blocos */
    width: 200px; /* Define uma largura fixa para os botões */
    margin: 10px auto; /* Centraliza os botões horizontalmente e adiciona margem entre eles */
    padding: 10px 20px ;
    font-size: 8px;
    color: #1d1b1b;
    background-color:rgb(246, 246, 246);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    
    
}

.email:hover, .password:hover {
    background-color:rgb(15, 72, 115);
}






    






